
// Body
$red: #FF3334;
$blue: #3EB5F7;
$sea: #313541;
$green: #44AF69;
$dark: #31393C;
$white: #fff;
$grey: darken($white, 10%);
$black: #222;
$cornsilk: cornsilk;

$headerFamily: "Merriweather";
$bodyFamily: "Amiko";

$colors: (
  red: $red,
  blue: $blue,
  sea: $sea,
  green: $green,
  dark: $dark,
  white: $white,
  black: $black,
  cornsilk: $cornsilk,
);
